@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;

.titleContent {
  display: flex;
  flex-direction: column;
}

.faceImage {
  height: 100px;
  width: 100px;
}